.container {
  max-width: 500px;
  margin: 20px auto;
  min-height: 200px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.message-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  p {
    background: rgb(67, 67, 150);
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 03);
    color: #fff;
    min-width: 75%;
    padding: 15px;
    margin: 0;
    margin-top: 5px;
  }

  & > *:last-child {
    margin-bottom: 20px;
  }
}

input {
  padding: 10px;
  min-width: 300px;
  height: 20px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  &:focus {
    outline: none;
  }
}

.send-msg-btn {
  min-height: 20px;
  border: none;
  background: green;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
}

.editForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .form-group {
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      text-align: center;
      width: inherit;
    }
  }

  button {
    width: 85%;
    margin: 10px;
    padding: 10px;
    border: none;
    background: blue;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.1s;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
      background: lighten(blue, 15%);
    }
  }
}

.name-pre {
  font-size: 80%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ccc;
}

.message-from {
  font-size: 110%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: orangered;
}
