<div class="container">
  <div class="input-container">
    <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
    <button class="send-msg-btn" (click)="sendMessage()">Send</button>
  </div>

  <div class="message-container" *ngFor="let message of messages">
    <p *ngIf="message.action === action.JOINED">{{ message.from.name }} joined the channel.</p>
    <p *ngIf="message.action === action.MESSAGE">
      <span class="name-pre">{{ message.from.name }}: </span> <span class="message-from">{{ message.message }}</span>
    </p>
  </div>

  <ng-container *ngIf="openEdit">
    <form class="editForm" #userForm="ngForm" (ngSubmit)="newUser(userForm)">
      <div class="form-group">
        <label for="name">User name</label>
        <input type="text" class="form-control" id="name" ngModel name="username">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </ng-container>
</div>